<div id="credentials" class="modal2">
    <div class="modal-content2">
        <span class="close" id="closeModalCredentials">&times;</span>
            <div class="tab">
                <div id="tab-m3u" class="active">M3U</div>
                <div id="tab-xtream">Xtream</div>
                <div id="tab-next-steps">Next Steps</div>
            </div>
        

            <div id="m3u-content" class="tab-content active">
                <h3>Enter M3U URL</h3>
               <form id="m3uForm">
                <label>M3U URL: <input type="text" id="m3uUrlUser" class="dynamic-input" placeholder="i.e. http://dns.com/get.php?username=xxxxxx&password=yyyyyy&type=m3u_plus" required=""></label><br><br>
                  <div class="custom-checkbox-container">
                    <label for="uploadToDriveM3U" class="custom-checkbox-label">
                        <input type="checkbox" id="uploadToDriveM3U" class="custom-checkbox">
                        <span class="checkbox-text">Upload modified M3U directly to my Google Drive. This will save some manual steps later and will also keep your list updated every time the list owner uploads a new version of their list</span>
                    </label>
                </div> <br><br>

                <button id="submitM3U">Generate M3U</button>
               </form>
            </div>

            <div id="xtream-content" class="tab-content">
                <h3>Enter Xtream Credentials</h3>
               <form id="xtreamForm">
                <label>DNS or Server or URL: <input type="text" id="dnsX" class="dynamic-input"></label><br>
                <label>Username: <input type="text" id="usernameX" class="dynamic-input"></label><br>
                <label>Password: <input type="password" id="passwordX" class="dynamic-input"></label><br>
                  <div class="custom-checkbox-container">
                    <label for="uploadToDriveXtream" class="custom-checkbox-label">
                        <input type="checkbox" id="uploadToDriveXtream" class="custom-checkbox">
                        <span class="checkbox-text">Upload modified M3U directly to my Google Drive. This will save some manual steps later and will also keep your list updated every time the list owner uploads a new version of their list</span>
                    </label>
                </div> <br><br>

                <button id="submitForm">Generate Xtream</button>
               </form>
            </div>
    </div>
</div>

                