<div class="modal fade" id="credentialsModal" tabindex="-1" aria-labelledby="credentialsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="credentialsLabel">Enter Your Credentials</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs mb-3" id="credentialsTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="m3u-tab" data-bs-toggle="tab" data-bs-target="#m3u-content" type="button" role="tab">M3U</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="xtream-tab" data-bs-toggle="tab" data-bs-target="#xtream-content" type="button" role="tab">Xtream</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="next-tab" data-bs-toggle="tab" data-bs-target="#next-steps-content" type="button" role="tab">Next Steps</button>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <!-- M3U Tab -->
          <div class="tab-pane fade show active" id="m3u-content" role="tabpanel">
            <h5 class="mb-3">Enter M3U URL</h5>
            <form id="m3uForm">
              <div class="mb-3">
                <label for="m3uUrlUser" class="form-label">M3U URL</label>
                <input type="text" class="form-control" id="m3uUrlUser" placeholder="http://dns.com/get.php?username=xxxxxx&password=yyyyyy&type=m3u_plus" required>
              </div>

              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="uploadToDriveM3U">
                <label class="form-check-label" for="uploadToDriveM3U">
                  Upload modified M3U directly to my Google Drive (this will save some manual steps later)
                </label>
              </div>

              <button type="submit" class="btn btn-primary">Generate M3U</button>
            </form>
          </div>

          <!-- Xtream Tab -->
          <div class="tab-pane fade" id="xtream-content" role="tabpanel">
            <h5 class="mb-3">Enter Xtream Credentials</h5>
            <form id="xtreamForm">
              <div class="mb-3">
                <label for="dnsX" class="form-label">DNS / Server / URL</label>
                <input type="text" class="form-control" id="dnsX">
              </div>

              <div class="mb
