<div id="FAQ" class="modal2" style="display: none;">
  <div class="modal-content2">
    <span class="close" id="closeModalFAQ">&times;</span>
    <h3>Frequently Asked Questions</h3>
    <section>
      <h2>❓ What is this service?</h2>
      <p>It’s a web tool that automatically generates personalized M3U playlists using your credentials (DNS, username/password, or M3U URL), eliminating the need for manual edits.</p>
    </section>
    <section>
      <h2>❓ How does it work?</h2>
      <ol>
        <li>Browse and select the desired service.</li>
        <li>Choose Automatic or Manual process in the modal.</li>
        <li>Select M3U or Xtream.</li>
        <li>Enter your credentials.</li>
        <li>Click Generate.</li>
        <li>Playlist downloads and is shown with EPG and GitHub URL.</li>
      </ol>
    </section>
    <section>
      <h2>❓ Google Drive M3U URL</h2>
      <p>You can generate a direct M3U URL hosted on Google Drive — no downloads needed.</p>
      <ol>
        <li>Select Google Drive before generating.</li>
        <li>Authorize access.</li>
        <li>You get a direct M3U URL.</li>
      </ol>
    </section>
    <section>
      <h2>❓ Problems with Google Drive?</h2>
      <p>Try a different browser and disable pop-up blockers. Avoid 2FA accounts if errors persist.</p>
    </section>
    <section>
      <h2>❓ Is it safe?</h2>
      <p>Yes, no credentials are stored. The code is open source and hosted securely.</p>
    </section>
    <section>
      <h2>❓ Can I share my list?</h2>
      <p>Yes, you can publish a new list or update an existing one with a password. Moderators review submissions.</p>
    </section>
    <section>
      <h2>❓ Why does the EPG say “No information”?</h2>
      <p>EPG sync can take up to 30 minutes. Try using a VPN if issues persist.</p>
    </section>
    <section>
      <h2>❓ Why is the service slow?</h2>
      <p>The tool runs on a small server and may be slow at peak hours.</p>
    </section>
    <section>
      <h2>❓ Funding?</h2>
      <p>Project funded by community donations. Consider supporting it.</p>
    </section>
    <section>
      <h2>❓ Support?</h2>
      <p>Join the community on Discord.</p>
      <div class="input-wrapper">
        <a class="btn btn-primary" href="https://discord.gg/AYnzecYvwd" target="_blank" rel="noopener noreferrer"> Discord Link </a>
      </div>
    </section>
  </div>
</div>
