<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZGZ91QQZKJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-ZGZ91QQZKJ');
  </script>

  <script src="https://apis.google.com/js/api.js"></script>
  <script src="https://accounts.google.com/gsi/client" async defer></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Curated M3U Lists Repository</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 

</head>
<body>

  <div id="content-container">
      <h1 class="page-title">Welcome to Ferteque's Curated Lists Repository</h1>
    
    {% include 'disclaimer.html' %}

    {% include 'faqAndShare.html' %}

    {% include 'moadlSelectorUpload.html' %}
           
    {% include 'shareModal.html' %}

    {% include 'updateModal.html' %}

    {% include 'table.html' %}
        
    {% include 'credentials.html' %}

    {% include 'nextSteps.html' %}  

    {% include 'loading.html' %} 

    <input type="hidden" id="selectedID">
    <input type="hidden" id="dns">
    <input type="hidden" id="username">
    <input type="hidden" id="password">
  </div>

  {% include 'footer.html' %}

  {% include 'selectorAutoMan.html' %}

  <!-- Bootstrap JS Bundle -->
  <script src="{{ url_for('static', filename='eventsRepo.js') }}"></script>
  <script src="{{ url_for('static', filename='modalsRepo.js') }}"></script>
  <script src="{{ url_for('static', filename='driveUpload.js') }}"></script>
  <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <!--<script src="../static/script.js"></script>-->
  <script src="https://apis.google.com/js/api.js"></script>

</body>

</html>
