<div id="Loading" class="modal2">
    <div class="modal-content2">
        <span class="close" id="closeModalLoading">&times;</span>
           <h3 id="Wait1">PLEASE WAIT</h3>
            <p id="Wait2">Your M3U file is processing, please wait...</p>
            <div class="spinner2" id="spinner"></div>
                
                <button id="log-in" class="copyButton1" style="display: none;"> Upload to Google Drive </button>
                <h2 class="donation-call2">
              <span class="donation-icon2">❤️</span>

              Unlock the Auto Update feature and help keep this server running by donating here. This service is made possible solely through your support 
              <br>
              <a href="https://ko-fi.com/ferteque" target="_blank" rel="noopener noreferrer">Support me on Ko-fi</a>
            </h2>
            </div>
            

   </div>