<div class="modal2" id="modeSelectorModalUpload" style="display:none;">
                <div class="modal-content2">
                <span class="close" id="closeModalSelectorUpload">&times;</span>
                    <h3>Select one of the next options:</h3>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary" id="NewShare" data-bs-dismiss="modal">Share a new Playlist</button>
                      <button class="btn btn-primary" id="UpdateList" data-bs-dismiss="modal">Update my already shared Playlist</button>
                    </div>
                  </div>
                </div>