<div class="modal fade" id="modeSelectorModalUpload" tabindex="-1" aria-labelledby="modeSelectorLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <button type="button" class="btn-close" id="closeModalSelectorUpload" data-bs-dismiss="modal" aria-label="Close"></button>
      <h3 class="mb-4">Select one of the next options:</h3>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" id="NewShare" data-bs-dismiss="modal">Share a new Playlist</button>
        <button class="btn btn-secondary" id="UpdateList" data-bs-dismiss="modal">Update my already shared Playlist</button>
      </div>
    </div>
  </div>
</div>
