    <div id="NextSteps" class="modal2">
        <div class="modal-content2">
            <span class="close" id="closeModalNextSteps">&times;</span>
            <h3>Next Steps</h3>
           
            <label>1. Use a USB (or buy an OTG Cable for firestick users) and move the edited M3U file from the USB to the device you want to use (Nvidia Shield for example). </label> <br>

            <label>2. Insert the USB with the edited M3U file in the streaming device. </label> <br>

            <label>3. Open TiviMate and go to "Settings". </label> <br>

            <label>4. Select "Playlists". </label> <br>
 
            <label>5. Select "Add Playlist'. </label> <br>

            <label>6. Select "M3U playlist". </label> <br>

            <label>7. Click "Select Local Playlist". </label> <br>

            <label>8. Click the USB Drive and select the modified .M3U file. </label> <br>

            <label>9. When asked for an EPG URL Enter this: </label>  
            <div class="input-wrapper">
                <input type="text" id="EPG" class="dynamic-input" disabled> <button id="copyButtonEPG" class="copyButton1">📋 Copy EPG URL to Clipboard</button>
            </div> <br> <label>(Remember once the list is created, the TV Guide (EPG) can take up to 30 minutes to show)</label> <br><br><br>
            
            <label>(Optional) 10. If you want to enter the EPG in your own IPTV Editor, use this as an external EPG: </label> 
            <div class="input-wrapper">
                <input type="text" id="GitHub_EPG" class="dynamic-input" disabled><button id="copyButtonGitHub_EPG" class="copyButton1">📋 Copy GitHub EPG URL to Clipboard</button>
            </div>
            <br><br><br>
            <label>(Optional) 11. If you want your list to update the PPV channels automatically, follow this guide from @GanjaRelease: </label> 
            <div class="input-wrapper">
                <video width="640" height="360" controls>
                  <source src="{{ url_for('static', filename='GanjaPPV.mp4') }}" type="video/mp4">
                  Tu navegador no soporta el video HTML5.
                </video>
            </div>
            <br><br><br>
            <label>(Optional) 12. All feedback is welcome, you can add a comment with your ideas in our discord: </label> 
            <div class="input-wrapper">
                <a class="btn btn-primary" href="https://discord.gg/AYnzecYvwd" id="FeedbackButton" target="_blank" rel="noopener noreferrer"> Discord Link </a>
            </div>             <br>
        </div>
    </div>

     <div id="NextStepsDrive" class="modal2">
        <div class="modal-content2">
            <span class="close" id="closeModalNextStepsDrive">&times;</span>
            <h3>Next Steps</h3>
           
            <label>1. Open your IPTV Player and go to "Settings". </label> <br>

            <label>2. Select "Playlists". </label> <br>
 
            <label>3. Select "Add Playlist'. </label> <br>

            <label>4. Select "M3U playlist". </label> <br>

            <label>5. Click "M3U URL". </label> <br>

            <label>6. Enter this URL: </label>

            <div class="input-wrapper">
                <input type="text" id="DriveDownloadLink" class="dynamic-input" disabled> <button id="copyButtonDriveDownloadLink" class="copyButton1">📋 Copy Drive URL to Clipboard</button>

            </div> <br><br><br>

            <label>7. When asked for an EPG URL Enter this: </label>  
            <div class="input-wrapper">
                <input type="text" id="EPGDrive" class="dynamic-input" disabled><button id="copyButtonEPGDrive" class="copyButton1">📋 Copy EPG URL to Clipboard</button>
            </div> <br> <label>(Remember once the list is created, the TV Guide (EPG) can take up to 30 minutes to show)</label> <br><br><br>
            
            <label>(Optional) 8. If you want to enter the EPG in your own IPTV Editor, use this as an external EPG: </label> 
            <div class="input-wrapper">
                <input type="text" id="GitHub_EPGDrive" class="dynamic-input" disabled><button id="copyButtonGitHub_EPGDrive" class="copyButton1">📋 Copy GitHub EPG URL to Clipboard</button>
            </div>
            <br><br><br>
            <label>(Optional) 9. If you want your list to update the PPV channels automatically, follow this guide from @GanjaRelease: </label> 
            <div class="input-wrapper">
                <video width="640" height="360" controls>
                  <source src="{{ url_for('static', filename='GanjaPPV.mp4') }}" type="video/mp4">
                  Tu navegador no soporta el video HTML5.
                </video>
            </div>
            <br><br><br>
             <label>(Optional) 10. All feedback is welcome, you can add a comment with your ideas in our discord: </label> 
            <div class="input-wrapper">
                <a class="btn btn-primary" href="https://discord.gg/AYnzecYvwd" id="FeedbackButton2" target="_blank" rel="noopener noreferrer"> Discord Link </a>
            </div>
            <br>
        </div>
    </div>