<div class="modal2" id="modeSelectorModal" style="display:none;">
    <div class="modal-content2">
    <span class="close" id="closeModalSelector">&times;</span>
        <h3>Please choose how you want to configure your M3U list:</h3>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" id="AutomaticProcess" data-bs-dismiss="modal">Automatic</button>
          <button class="btn btn-primary" id="ManualSteps" data-bs-dismiss="modal">Manual</button>
        </div>
      </div>
    </div>
  </div>


<div id="manualInstructions" class="modal2" style="display:none;">
  <div class="modal-content2">
    <span class="close" onclick="document.getElementById('manualInstructions').style.display='none'">&times;</span>
    <h3>Manual Process</h3>
    <p>You have chosen the manual process. This option shall be used only for tech people. Please follow these steps:</p>
      <label>1. Download the original playlist.</label>
      <div class="input-wrapper">
                <a class="btn btn-primary" id="RawDownloadLink" target="_blank" rel="noopener noreferrer"> Download</a> 
            <h3 id="Wait3" style="display: none;">PLEASE WAIT</h3>
            <div class="spinner" id="spinner3" style="display: none;"></div>

            </div> <br><br><br>
      <label>2. Open it with Windows Notepad (or any other text editor).</label><br>
      <label>3. Use the "Search and Replace" function to find <code>http://DNS/USERNAME/PASSWORD</code> and replace it with your credentials (e.g., <code>http://xxxxx.xxxx-xxx/12345678/12345678</code>).</label><br>
      <label>4. Repeat the process for Movies and TV Shows by searching for <code>http://DNS/movie/USERNAME/PASSWORD</code> and replacing it with your credentials (e.g., <code>http://xxxx.xxx-xxx/movie/12345678/12345678</code>).</label><br>
      <label>5. Upload the modified M3U file to your IPTV player, or use it in your IPTV editor as a starting point.</label><br>

    <button id="openNextSteps" class="btn btn-primary">
      Next Steps
    </button>
  </div>
</div>