<div id="shareModal" class="modal2" style="display:none;">
          <div class="modal-content2">
            <span class="close" id="closeShareModal">&times;</span>
            <div class="modal-warning">
              ⚠️ <strong>Heads up:</strong> This section is <u>not</u> for getting your M3U file.
              It's meant for users who have <strong>curated their own playlist</strong> and wish to share it with the community.
            </div>
              
            <ol>
                <form id="submitPlaylistForm">
                  <div class="form-group">
                    <label>Service Name</label>
                    <input type="text" id="service_name" name="service_name"  class="dynamic-input" required>
                  </div>

                  <div class="form-group">
                    <label>Countries</label>
                    <input type="text" id="countries" name="countries" class="dynamic-input" required>
                  </div>

                  <div class="form-group">
                    <label>Discord Username</label>
                    <input type="text" id="reddit_username" name="reddit_username" class="dynamic-input" required>
                  </div>

                  <div class="form-group">
                    <label>Main Categories</label>
                    <input type="text" id="main_categories" name="main_categories" class="dynamic-input" required>
                  </div>

                  <div class="form-group">
                    <label>EPG URL</label>
                    <input type="url" id="epgForm" name="epg" class="dynamic-input" required>
                  </div>

                  <div class="form-group">
                    <label>Donation Link</label>
                    <input type="url" id="donation_link" name="donation_link" class="dynamic-input">
                  </div>

                  <div class="form-group">
                    <label>List Password</label>
                    <input type="password" id="list_password" name="list_password" class="dynamic-input" required>
                  </div>

                  <div class="form-group">
                    <label>Upload M3U File</label>
                    <input type="file" id="m3u_fileForm" name="m3u_file" class="dynamic-input" accept=".m3u" required>
                  </div>

                  <button type="submit" class="btn btn-primary mt-2" id="submitPlaylist">Submit Playlist</button>
                </form>
            </ol>
            
                <h3 id="Wait4" style="display: none;">PLEASE WAIT</h3>
                    <div class="spinner" id="spinner4" style="display: none;"></div>
          </div>
          </div>