<div class="share-box table-style">
 <h2 style="text-align:center; font-family: sans-serif;">Pick the list that feels right for you – just click on a row:</h2>
 <br>
  <table class="styled-table sortable">
    <thead>
      <tr>
        <th class="sorttable_numeric">ID</th>
        <th>Service</th>
        <th>Discord Username</th>
        <th>Countries</th>
        <th>Main Categories</th>
        <th>Last Updated</th>
        <th class="sorttable_numeric">Downloads</th>
        <th>List Owner Donations</th>
      </tr>
    </thead>
    <tbody id="tableBody"></tbody>
  </table>
</div>


<div id="categoriesModal" class="modal2" style="display:none;">
    <div class="modal-content2">
        <span class="close" id="closeCategoriesModal">&times;</span>
        <p id="Select_categories" style="display: none"> Please select all categories that need to be auto-updated daily (usually PPV) </p>
        <div id="group-list" style="max-height: 70%; overflow-y: auto; display: none;"></div>
        <button class="btn btn-primary mt-2" id="submitSelectedGroups" style="display: none;">Confirm selected categories</button>
        <p id="Successfully_uploaded" style="display: none">List uploaded successfully! We’ll review and publish it if it meets the quality standards. Thanks for contributing!</p>
    </div>
</div>