<div class="share-box">
  <h2 class="text-center" style="font-family: sans-serif;">
    Pick the list that feels right for you – just click on a row:
  </h2>
  <br>
  <table class="table table-striped table-hover sortable">
    <thead class="table-dark">
      <tr>
        <th class="sorttable_numeric" scope="col">ID</th>
        <th scope="col">Service</th>
        <th scope="col">Discord Username</th>
        <th scope="col">Countries</th>
        <th scope="col">Main Categories</th>
        <th scope="col">Last Updated</th>
        <th class="sorttable_numeric" scope="col">Downloads</th>
        <th scope="col">List Owner Donations</th>
      </tr>
    </thead>
    <tbody id="tableBody"></tbody>
  </table>
</div>
