<div class="share-box table-style">
 <h2 style="text-align:center; font-family: sans-serif;">Pick the list that feels right for you – just click on a row:</h2>
 <br>
  <table class="styled-table sortable">
    <thead>
      <tr>
        <th class="sorttable_numeric">ID</th>
        <th>Service</th>
        <th>Discord Username</th>
        <th>Countries</th>
        <th>Main Categories</th>
        <th>Last Updated</th>
        <th class="sorttable_numeric">Downloads</th>
        <th>List Owner Donations</th>
      </tr>
    </thead>
    <tbody id="tableBody"></tbody>
  </table>
</div>
