<div id="updateModal" class="modal2" style="display:none;">
          <div class="modal-content2">
            <span class="close" id="closeShareModalUpdate">&times;</span>
            <div class="modal-warning">
              ⚠️ <strong>Heads up:</strong> This section is <u>not</u> for getting your M3U file.
              It's meant for users who have <strong>curated their own playlist</strong> and wish to share it with the community.
            </div>
              <ol>
                <form id="updatePlaylistForm">
                  <div class="form-group">
                    <label>Playlist ID *</label>
                    <input type="text" id="playlist_id" name="id"  class="dynamic-input" required>
                  </div>

                  <div class="form-group">
                    <label>List Password *</label>
                    <input type="password" id="list_password" name="list_password" class="dynamic-input" required>
                  </div>

                  <div class="form-group">
                    <label>New Countries (Old ones will be overwritten. Leave blank if there are no new countries)</label>
                    <input type="text" id="new_countries" name="countries" class="dynamic-input">
                  </div>

                  <div class="form-group">
                    <label>New Categories (Old ones will be overwritten. Leave blank if there are no new categories)</label>
                    <input type="text" id="new_categories" name="main_categories" class="dynamic-input">
                  </div>

                  <div class="form-group">
                    <label>New EPG URL (Old one will be overwritten. Leave blank if there is no new EPG)</label> 
                    <input type="url" id="new_epgForm" name="epg_url" class="dynamic-input">
                  </div>

                  <div class="form-group">
                    <label>New Donation Link (Old one will be overwritten. Leave blank if there is no new link)</label> 
                    <input type="url" id="new_donation_link" name="donation_info" class="dynamic-input">
                  </div>

                  <div class="form-group">
                    <label>Upload new M3U File *</label>
                    <input type="file" id="Update_m3u_fileForm" name="m3u_file" class="dynamic-input" accept=".m3u" required>
                  </div>

                  <button type="submit" class="btn btn-primary mt-2" id="updatePlaylist">Update Playlist</button>
                </form>
            </ol>
            <h3 id="Wait5" style="display: none;">PLEASE WAIT</h3>
                <div class="spinner" id="spinner5" style="display: none;"></div>
            
          </div>
          </div>
<br>